:root {
  --backgroundColor: rgb(6, 6, 6);
  --fancyColor: rgb(5, 182, 233);
  --fontColor: rgb(255, 255, 255);
  --grid_item_margin: 5px;
  --grid_item_border_width: 5px;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: var(--backgroundColor);
  overflow-x: hidden;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--fancyColor);
}

#map-container {
  text-align: center;
  /* top: 20vh; */
  /* right: 0;
  bottom: 0;
  left: 0vw; */
  width: 100vw;
  height: 45vh;
  /* position: absolute !important; */
}

#map {
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: auto;
  filter: grayscale(0%);
}

.unselected_icon {
  border: 2px solid rgb(75, 75, 75);
  border-radius: 5px;
}

.selected_icon {
  border: 5px solid var(--fancyColor);
}

#title {
  width: 100vw;
  height: 10vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  /* top: 5vh; */
  text-align: center;
  /* margin-top: 5vh; */
  /* position: absolute; */
  z-index: 2 !important;
}
#title > h1 {
  color: var(--fontColor);
  font-size: 3.5em;
  font-family: sans-serif;
  margin: 0;
  width: 80vw;
  margin-left: 10vw;
}

#text_grid_container {
  width: 100vw;
  text-align: center;
}

#text_grid_title {
  color: var(--fontColor);
  font-family: sans-serif;
  font-size: 2em;
}

#text_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  grid-auto-flow: row dense;
  width: auto;
  justify-content: center;
  margin: auto;
}
.grid_item {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  height: auto;
  min-height: 100px;
  padding: calc(0.2 * var(--grid_item_margin));
  margin: var(--grid_item_margin);
  border: var(--grid_item_border_width) solid rgb(75, 75, 75);
  border-radius: 10px;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.grid_item:hover{
  border: var(--grid_item_border_width) solid var(--fancyColor);
}
.grid_item:focus {
  outline: none;
}

#text_container {
  display: inline-block;
  width: 100vw;
  /* max-width: 600px; */
  /* position: absolute; */
  /* top: 60vh; */
  /* left: 25vw; */
  text-align: center;
}
#text_div {
  position: relative;
  width: 60%;
  margin: auto;
  text-align: justify;
  font-size: 1.3em;
  color: var(--fontColor);
  font-family: sans-serif;
}

.text-title {
  text-align: center;
}

.text-image {
  width: 100%;
  min-width: 200px;
  border-radius: 10px;
}

.button {
  padding: 1vmax;
  font-size: 1.2em;
  width: auto;
  background-color: rgb(102, 102, 102);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 1em 0em;
  cursor: pointer;
  border-radius: 1vmax;
  user-select: none;
  outline: none;
  box-shadow: 0 0.5vmax rgb(221, 221, 221);
  z-index: 2;
}
.button:active {
  background-color: var(--fancyColor);
  box-shadow: 0 0.3vmax rgb(102, 102, 102);
  transform: translateY(4px);
}

#footer {
  display: none;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 1vw;
  background-color: var(--backgroundColor);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.25vw grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--fancyColor);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--fancyColor);
}


@media only screen and (max-width: 600px) {

  #title > h1 {
    font-size: 2em;
  }

  #text_container {
    width: 100vw;
  }

  #text_div {
    width: 90%;
  }

}
