:root {
  --backgroundColor: rgb(6, 6, 6);
  --fancyColor: rgb(233, 221, 5);
}
html, body {
  padding: 0;
  margin: 0;
  background-color: var(--backgroundColor);
  overflow-x: hidden;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--fancyColor);
}

#map-container {
  text-align: center;
  top: 20vh;
  right: 0;
  bottom: 0;
  left: 0vw;
  width: 100vw;
  height: 35vh;
  position: absolute !important;
}

#map {
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: auto;
  filter: grayscale(0%);
}

img {
  filter: grayscale(1000%);
}

#title {
  width: 100vw;
  height: 10vh;
  top: 5vh;
  text-align: center;
  /* margin-top: 5vh; */
  position: absolute;
  z-index: 2 !important;
}
#title > h1 {
  color: red;
  font-size: 3.5em;
  font-family: sans-serif;
  margin: 0;
  width: 80vw;
  margin-left: 10vw;
}

#text_container {
  width: 50vw;
  /* max-width: 600px; */
  font-size: 1.3em;
  color: white;
  font-family: sans-serif;
  position: absolute;
  top: 60vh;
  left: 25vw;
  text-align: justify;
}

.text-popup {
  display: none;
}

.text-title {
  text-align: left;
}

.text-image {
  width: 100%;
  min-width: 200px;
  border-radius: 10px;
}

#footer {
  display: none;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 15px;
  background-color: var(--backgroundColor);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.25vw grey;
  border-radius: 0.5vw;
}
::-webkit-scrollbar-thumb {
  background: var(--fancyColor);
  border-radius: 0.5vw;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--fancyColor);
}


@media only screen and (max-width: 600px) {

  #title > h1 {
    font-size: 2em;
  }

  #text_container {
    width: 90vw;
    left: 5vw;
  }

}
